<%- include('../partials/header') %>

    <header class="checkout-header mt-3 mb-4">
        <a style="text-decoration: none; color: royalblue;" href="/">
            <h4>Market Nest</h4>
        </a>
    </header>
    <div class="container bg-light mb-4" style="padding: 20px;">
        <h4 class="mb-4" style="text-align: center;">Update Password</h4>
        <div class="row">
            <p>Enter Your New Password to access your Market Nest account</p>

            <% if(error===false){%>

                <%}else{%>
                    <% error.map(error=>{%>
                        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert" role="alert">
                            <%- error.msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <%})%>

                            <%}%>
                                <form action="/usr/new-password?id=<%=d%>" method="post">

                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="inputField" placeholder="New Password" name="newPassword">
                                        <label for="floatingInput">New Password</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" id="shwpwd" onclick="myFunction()" style="padding: 0px;">
                                        <label style="color: #959595; font-size: 14px;" class="form-check-label" for="shwpwd">
    Show Password
  </label>
                                    </div>

                                    <input type="hidden" name="d" value=<%=d%>>
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button type="submit" class="btn btn-warning">Reset Password</button>
                                </form>

        </div>

    </div>

    <script>
        function myFunction() {
            const inputField = document.getElementById("inputField");
            if (inputField.type === "password") {
                inputField.type = "text";
            } else {
                inputField.type = "password";
            }
        }
    </script>
    <%- include('../partials/footer') %>